<app-header quoteNo="{{ quoteNo }}"></app-header>
<!-- <button (click)="aryaApiCall('FGII1435546GFT')">
Arya AI
</button> -->
<h4 style="text-align: center">Bharat Grih Raksha</h4>
<form [formGroup]="quoteGeneraion" autocomplete="off" [hidden]="ridrectToPay">
    <fieldset>
        <legend>Customer Detailes</legend>
    
        <mat-form-field class="col4">
          <mat-label>Transaction Type*:</mat-label>
          <input disabled readonly matInput value="Renewal" formControlName="tranType">
      </mat-form-field>
    
        <mat-form-field class="col4">
            <mat-label>Old Policy Number*</mat-label>
            <input matInput formControlName="policyNo" type="text" maxlength="8"
                (change)="getPolicy(CD.policyNo.value)">
        </mat-form-field>
    
        <mat-form-field class="col4">
                <mat-label>Cover Type</mat-label>
                <input disabled readonly matInput formControlName="coverType">
            </mat-form-field>
          
         <mat-form-field class="col4">
              <mat-label>Client Code</mat-label>
              <input disabled readonly matInput formControlName="clientno" type="text">
          </mat-form-field>
        <mat-form-field class="col4">
          <mat-label>Bank Branch Name:</mat-label>
          <input readonly matInput placeholder="1998 - FCC- Ashram Road" formControlName="branchName"
            *ngIf="loginFlag == '1'" />
          <input matInput placeholder="1998 - FCC- Ashram Road" formControlName="branchName" [(ngModel)]="filterTicket"
            *ngIf="loginFlag == '2' || loginFlag == '3'" (keyup)="showBranchList()" />
          <div class="branchListWrap" *ngIf="loginFlag == '2' || loginFlag == '3'" [hidden]="branchFlag">
            <a href="javascript:;" *ngFor="let b of branchList | filterBranch : filterTicket" (click)="setSpCode(b)">{{
              b.SOL_ID }} - {{ b.BRANCH_NAME }}</a>
          </div>
        </mat-form-field>
        <mat-form-field class="col4">
          <mat-label>FG Branch Code*:</mat-label>
          <input disabled readonly matInput formControlName="fgBrachCode1" />
        </mat-form-field>
        <mat-form-field class="col4">
          <mat-label>FG Branch Name*:</mat-label>
          <input disabled readonly matInput formControlName="fgbranchName">
      </mat-form-field>
    
        <mat-form-field class="col4">
          <mat-label>Bank Branch Code*:</mat-label>
          <input disabled readonly matInput formControlName="bankBranch" />
        </mat-form-field>
       
        <mat-form-field class="col4">
          <mat-label>Customer Type*</mat-label>
          <input disabled readonly matInput matInput formControlName="customerType">
      </mat-form-field> 
        
        <mat-form-field class="col4">
          <mat-label>Salutation</mat-label>
          <mat-select formControlName="salutation">
            <mat-option>-- Select --</mat-option>
            <mat-option *ngFor="let s of salutationList" [value]="s.value">
              {{ s.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="CD.salutation.invalid">Please choose an Salutation</mat-error>
        </mat-form-field>
        <mat-form-field class="col4">
          <mat-label>{{ isCompany ? "Company" : "First" }} Name *</mat-label>
          <input matInput formControlName="firstName" type="text" (change)="checkDuplicatName()" placeholder="Ex. ABC"/>
        </mat-form-field>
        <!-- <mat-form-field *ngIf="!isCompany" class="col4">
          <mat-label>Last Name *</mat-label>
          <input matInput formControlName="lastName" type="text" (change)="checkDuplicatName()" placeholder="Ex. XYZ"/>
        </mat-form-field> -->
    
        <mat-form-field class="col4">
          <mat-label>Contact Number *</mat-label>
          <input matInput formControlName="contactNo" (change)="contactNo(CD.contactNo.value)" maxlength="10" numbersOnly />
        </mat-form-field>
        <mat-form-field class="col4">
          <mat-label>Email *</mat-label>
          <input matInput formControlName="email" placeholder="Ex. pat@example.com" />
        </mat-form-field>
    
        <!-- <mat-form-field class="col4">
          <mat-label>Policy Start Date</mat-label>
          <input matInput formControlName="policyDate" [matDatepicker]="picker" [min]="maximumRiskD"
            (dateChange)="policystart()" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
        <mat-form-field class="col4">
          <mat-label>Bank Name*</mat-label>
          <input disabled readonly matInput formControlName="bankName" />
        </mat-form-field> 
        <mat-form-field class="col4">
          <mat-label>Bank Staff ID</mat-label>
          <input matInput formControlName="bankStaffID" maxlength="8" numbersOnly />
        </mat-form-field>
        <mat-form-field class="col4">
          <mat-label>Bank Cust ID</mat-label>
          <input matInput formControlName="bankCustID" maxlength="8" numbersOnly />
        </mat-form-field>
        <mat-form-field class="col4">
          <mat-label>FG Staff ID *</mat-label>
          <input matInput formControlName="FGStafID" type="text" />
        </mat-form-field >
        <mat-form-field class="col4">
          <mat-label>Name of the Financer </mat-label>
          <input matInput formControlName="financInterest" max="99" />
        </mat-form-field>
        <mat-form-field class="col4">
          <mat-label>Loan AC No.</mat-label>
          <input matInput formControlName="loanAcNo" />
        </mat-form-field>
        <mat-form-field class="col4">
          <mat-label>IMD General Comments</mat-label>
          <input matInput formControlName="imdGeneral" type="text" />
        </mat-form-field>
    
        <!-- <mat-form-field class="col4">
          <mat-label>Business Type*</mat-label>
          <mat-select (selectionChange)="changeBusinessType($event)" formControlName="businessType">
            <mat-option>-- Select --</mat-option>
            <mat-option *ngFor="let detail of books" [value]="detail.value">
              {{ detail.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="CD.businessType.invalid">Please choose an Business Type</mat-error>
        </mat-form-field> -->
    
        <mat-form-field class="col4">
          <mat-label>Occupancy Code *</mat-label>
          <input disabled readonly matInput formControlName="OccupancyCode" type="text">
      </mat-form-field>
      <mat-form-field class="col4">
          <mat-label>Occupancy Name *</mat-label>
          <input disabled readonly matInput formControlName="OccupancyName" type="text">
      </mat-form-field>
    
    
        <mat-form-field class="col4">
          <mat-label>Pincode *</mat-label>
          <input matInput type="text" formControlName="pincode" (change)="getDetails(CD.pincode.value)" />
        </mat-form-field>
        <mat-form-field class="col4">
          <mat-label>Select Zone</mat-label>
          <mat-select formControlName="zoneNo" (selectionChange)="setZone(CD.zoneNo.value)">
            <mat-option value="">- Select Zone -</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col4">
          <mat-label>SP CODE *</mat-label>
          <input readonly matInput type="text" formControlName="spCode" />
        </mat-form-field>
        <mat-form-field class="col4">
          <mat-label>Banca Segment *</mat-label>
          <mat-select formControlName="bancaSegement">
            <mat-option>-- Select --</mat-option>
            <mat-option value="CRLB">Cross sell to Loan Book</mat-option>
            <mat-option value="LOBK">Loan Book</mat-option>
            <mat-option value="RSSB">Retail sales to Saving Account</mat-option>
          </mat-select>
          <mat-error *ngIf="CD.bancaSegement.invalid">Please select Banca Segment Type</mat-error>
        </mat-form-field>
        <mat-form-field class="col4">
          <mat-label>Risk Occupancy</mat-label>
          <mat-select formControlName="riskOcc" (selectionChange)="setRiskRate(CD.riskOcc.value)" disabled>
            <mat-option>-- Select --</mat-option>
            <mat-option value="NH">Shops dealing in non-hazardous goods</mat-option>
            <mat-option value="H">Shops dealing in hazardous goods</mat-option>
          </mat-select>
          <mat-error *ngIf="CD.riskOcc.invalid">Please select Risk Occupancy</mat-error>
        </mat-form-field>
      </fieldset>

    
    <!--Policy Details -->
    <fieldset class="coverForm">
        <legend>Policy Details</legend>
        <mat-form-field class="col4">
            <mat-label>Policy Tenure *</mat-label>
            <mat-select formControlName="polTenure" (selectionChange)="setPolTenure(CD.polTenure.value)">
                <mat-option>-- Select --</mat-option>
                <mat-option *ngFor="let t of tenureList" [value]="t">
                    {{ t }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Risk Start Date *</mat-label>
            <input matInput formControlName="riskDate" (dateChange)="changRiskStart()" [matDatepicker]="riskDate"
                [min]="maximumRiskD" />
            <mat-datepicker-toggle matSuffix [for]="riskDate"></mat-datepicker-toggle>
            <mat-datepicker #riskDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Risk End Date *</mat-label>
            <input readonly matInput formControlName="riskEndDate" type="text" />
        </mat-form-field>
        <mat-checkbox (change)="anyClaimCall($event)">Any Claim Reported in last 3 years</mat-checkbox>
        <mat-form-field class="col4">
            <mat-label>Previous Insurance co name</mat-label>
            <input matInput formControlName="polInsName" type="text" />
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Policy Number</mat-label>
            <input matInput formControlName="polNumber" type="text" />
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Policy Expiry date</mat-label>
            <input matInput formControlName="policyExpDate" [matDatepicker]="policyExpDate" [min]="maximumDOB" />
            <mat-datepicker-toggle matSuffix [for]="policyExpDate"></mat-datepicker-toggle>
            <mat-datepicker #policyExpDate></mat-datepicker>
        </mat-form-field>
    </fieldset>

    <fieldset class="shopAddress">
        <legend>Risk Address</legend>
        <mat-form-field class="col4">
            <mat-label>Address 1*</mat-label>
            <input matInput formControlName="add1" type="text" maxlength="30" (keypress)="omit_special_char($event)" />
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Address 2*</mat-label>
            <input matInput formControlName="add2" type="text" maxlength="30" (keypress)="omit_special_char($event)" />
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Address 3</mat-label>
            <input matInput formControlName="add3" type="text" maxlength="30" (keypress)="omit_special_char($event)" />
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Land Mark *</mat-label>
            <input matInput formControlName="landmark" type="text" maxlength="30" />
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>City/District *</mat-label>
            <input matInput formControlName="city" type="text" maxlength="30" />
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>State *</mat-label>
            <input matInput alphabetsOnly formControlName="state" type="text" maxlength="40" />
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Country *</mat-label>
            <input matInput formControlName="country" type="text" />
        </mat-form-field>
    </fieldset>
    <!-- [hidden]="addressFlag" -->
    <fieldset class="communicationAdd">
        <legend>Communication Address</legend>
        <!-- <mat-checkbox class="col1" value="FAP" (change)="setAddress($event);">Is Communication address same as Shop
            Address?</mat-checkbox> -->
        <div class="overflw-wrap">
            <mat-checkbox value="FAP" (change)="setAddress($event)"></mat-checkbox>
            <p>Is Communication address same as Shop Address?</p>
        </div>
        <mat-form-field class="col4">
            <mat-label>Address 1*</mat-label>
            <input matInput formControlName="comadd1" type="text" maxlength="30"
                (keypress)="omit_special_char($event)" />
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Address 2</mat-label>
            <input matInput formControlName="comadd2" type="text" maxlength="30"
                (keypress)="omit_special_char($event)" />
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Address 3</mat-label>
            <input matInput formControlName="comadd3" type="text" maxlength="30"
                (keypress)="omit_special_char($event)" />
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Land Mark *</mat-label>
            <input matInput formControlName="comlandmark" type="text" maxlength="30" />
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>City/District *</mat-label>
            <input matInput formControlName="comcity" type="text" maxlength="30" />
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>State *</mat-label>
            <input matInput formControlName="comstate" type="text" maxlength="40" />
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Country *</mat-label>
            <input matInput formControlName="comcountry" type="text" />
        </mat-form-field>
        <mat-form-field class="col4 upperCase">
            <mat-label>Pan Number</mat-label>
            <input matInput formControlName="panNo" type="text" />
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>GSTIN Number</mat-label>
            <input matInput formControlName="GSTNo" type="text" />
        </mat-form-field>
    </fieldset>


    <!-- Mandatory Policy Details -->
    <fieldset class="coverForm">
        <legend>Mandatory Covers</legend>
        <div class="fw">
            <div class="childCheckBox">
                <mat-form-field class="col4">
                    <mat-label>Age of Building *</mat-label>
                    <mat-select formControlName="buildingAge" (selectionChange)="setDiscount()"
                        [disabled]="disableSelect">
                        <mat-option value="">-- Select --</mat-option>
                        <mat-option value="5">Less than 5 years</mat-option>
                        <mat-option value="0">More than 5 years and less than 10</mat-option>
                        <mat-option value="-2.5">More than 10 years and less than 25</mat-option>
                        <mat-option value="-5">25 & above</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col4">
                    <mat-label>Fire Protection devices installed *</mat-label>
                    <mat-select formControlName="fireProtection" (selectionChange)="setDiscount()"
                        [disabled]="disableSelect">
                        <mat-option value="">-- Select --</mat-option>
                        <mat-option value="2.5">Hand Appliances</mat-option>
                        <mat-option value="5">Hand Appliances & hydrant system</mat-option>
                        <mat-option value="10">Hand Appliances + Hydrant System & independent Sprinkler/ Fixed
                            Water Spray System
                        </mat-option>
                        <mat-option value="2.5">For Non Society with overhead water tanks</mat-option>
                        <mat-option value="0">No FEA</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col4">
                    <mat-label>Construction Type *</mat-label>
                    <mat-select formControlName="constructDetails" (selectionChange)="
              checkConstruction(CD.constructDetails.value); setDiscount()
            " [disabled]="disableSelect">
                        <mat-option value="">-- Select --</mat-option>
                        <mat-option value="K">Kutcha</mat-option>
                        <mat-option value="P">Pukka</mat-option>
                    </mat-select>
                    <mat-error *ngIf="CD.constructDetails.invalid">Please select Construction Type</mat-error>
                </mat-form-field>
                <mat-form-field class="col4">
                    <mat-label>Round the clock security(24 hour Security Guards Available )
                        *</mat-label>
                    <mat-select formControlName="roundTheClock" (selectionChange)="setDiscount()"
                        [disabled]="disableSelect">
                        <mat-option value="">-- Select --</mat-option>
                        <mat-option value="5">Yes</mat-option>
                        <mat-option value="0">No (less than 7 floor Building)</mat-option>
                        <mat-option value="-10">No (7th Floors and above Building)</mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="!blockProcess">
                    <div class="one child-covers">
                        <mat-checkbox (change)="commonCoverChange($event, 'B') ; showTerrorism($event)" class="subchk"
                            formControlName="buildMain">Building</mat-checkbox>
                        <div class="SI_Premium_Child_Cover" *ngIf="CD.buildMain.value">
                            <div class="input-Field">
                                <input type="number" placeholder="Sum Insured" formControlName="fireBuilding"
                                    (focusout)="validateMaxMin($event, 0, 50000000)"
                                    (change)="buildIngPre(CD.fireBuilding.value, '1A**')" />
                                <span *ngIf="!CD.fireBuilding.valid">{{
                                    CD.fireBuilding.errors
                                    }}</span>
                            </div>
                            <div class="input-Field">
                                <input type="number" placeholder="Premium" formControlName="fireBuildingPre" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="one child-covers" *ngIf="onlyUCO || BRKGB || PGB  ||HPG || TPUC ||  HPSCB  || PBGB">
                        <mat-checkbox (change)="commonCoverChange($event, 'C') ; showTerrorism($event)"  class="subchk"
                            formControlName="fireContentsMain">Content</mat-checkbox>
                        <div class="SI_Premium_Child_Cover" *ngIf="CD.fireContentsMain.value">
                            <div class="input-Field">
                                <input type="number" placeholder="Sum Insured" formControlName="fireContent"
                                    (focusout)="validateMaxMin($event, 0, 50000000)"
                                    (change)="fireContentPre(CD.fireContent.value)" />
                            </div>
                            <div class="input-Field">
                                <input type="number" placeholder="Premium" formControlName="fireContentP" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="one child-covers">
                        <mat-checkbox class="subchk" (change)="showTerrorism($event)" formControlName="terrorismMain" disabled>
                            Terrorism</mat-checkbox>
                        <div class="SI_Premium_Child_Cover" *ngIf="CD.terrorismMain.value">
                            <div class="input-Field">
                                <input type="number" placeholder="Sum Insured" formControlName="longTermTerrSum"
                                    readonly />
                            </div>
                            <div class="input-Field">
                                <input type="number" placeholder="Premium" formControlName="longTermTerrPre" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="one child-covers" *ngIf="onlyUCO && BRKGB && PGB && HPG && TPUC">
                        <mat-checkbox class="subchk" (change)="coverContentReset($event)"
                            formControlName="coverContent">Cover for Valuable Contents</mat-checkbox>
                        <div class="SI_Premium_Child_Cover" *ngIf="CD.coverContent.value">
                            <div class="input-Field">
                                <input type="number" placeholder="Sum Insured" (change)="coverContentCalc()"
                                    formControlName="coverContentSum" (focusout)="validateMaxMin($event, 0, 500000)" />
                            </div>
                            <div class="input-Field">
                                <input type="number" placeholder="Premium" formControlName="coverContentPre" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="one child-covers" *ngIf="onlyUCO && BRKGB && PGB && HPG && TPUC">
                        <mat-checkbox class="subchk" (change)="PASelfReset($event)" formControlName="PASelfMain">
                            Personal Accident Cover (Self)</mat-checkbox>
                        <div class="SI_Premium_Child_Cover" *ngIf="CD.PASelfMain.value">
                            <div class="input-Field">
                                <input type="number" placeholder="Sum Insured" (change)="PASelfCalc()"
                                    formControlName="PASelfSum" (focusout)="validateMaxMin($event, 0, 500000)" />
                            </div>
                            <div class="input-Field">
                                <input type="number" placeholder="Premium" formControlName="PASelfPre" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="one child-covers" *ngIf="onlyUCO && BRKGB && PGB && HPG && TPUC">
                        <mat-checkbox class="subchk" (change)="PASpouseReset($event)" formControlName="PASpouseMain">
                            Personal Accident Cover (Spouse)</mat-checkbox>
                        <div class="SI_Premium_Child_Cover" *ngIf="CD.PASpouseMain.value">
                            <div class="input-Field">
                                <input type="number" placeholder="Sum Insured" (change)="PASpouseCalc()"
                                    formControlName="PASpouseSum" (focusout)="validateMaxMin($event, 0, 500000)" />
                            </div>
                            <div class="input-Field">
                                <input type="number" placeholder="Premium" formControlName="PASpousePre" readonly />
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col1 nopadding">
                        <mat-form-field class="col5">
                            <mat-label>Discount (%):</mat-label>
                            <input formControlName="discount"  numbersOnly matInput  (change)="discountChange($event,'D')" type="number">
                        </mat-form-field>
                        <mat-form-field class="col5">
                            <mat-label>Loading (%):</mat-label>
                            <input numbersOnly formControlName="loading"   (change)="discountChange($event,'L')" matInput  type="number">
                        </mat-form-field>
                    </div> -->
                    <div *ngIf="checkCalc">
                        <button mat-raised-button color="warn" class="marginT10" (click)="calculate()">
                            Calculate
                        </button>
                    </div>
                </div>
                <div *ngIf="blockProcess" class="error">
                    Please contact our nearest branch
                </div>
            </div>
        </div>
    </fieldset>
    <!-- Additional Cover Details -->
    <fieldset *ngIf="CD.PASelfMain.value || CD.PASpouseMain.value" [hidden]="addressFlag">
        <legend>PA Details</legend>
        <mat-form-field class="col4">
            <mat-label>Insured Name *</mat-label>
            <input matInput formControlName="insName" type="text" />
            <mat-error *ngIf="CD.insName.invalid">Please enter insured name</mat-error>
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Date Of Birth *</mat-label>
            <input matInput formControlName="insDate" (dateChange)="getAge()" [matDatepicker]="insDate"
                [max]="maximumDOB" />
            <mat-datepicker-toggle matSuffix [for]="insDate"></mat-datepicker-toggle>
            <mat-datepicker #insDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Gender *</mat-label>
            <mat-select formControlName="insGender">
                <mat-option>-- Select --</mat-option>
                <mat-option value="M">Male</mat-option>
                <mat-option value="F">Female</mat-option>
            </mat-select>
            <mat-error *ngIf="CD.insGender.invalid">Please select Gender</mat-error>
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Occupation *</mat-label>
            <mat-select formControlName="insOccupation">
                <mat-option>-- Select --</mat-option>
                <mat-option *ngFor="let o of occupationMaster" [value]="o.Code">
                    {{ o.Description }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="CD.insOccupation.invalid">Please select Occupation</mat-error>
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Nominee Name *</mat-label>
            <input matInput formControlName="insNominee" type="text" />
            <mat-error *ngIf="CD.insNominee.invalid">Please enter Nominee name</mat-error>
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Nominee Relation *</mat-label>
            <mat-select formControlName="insNomineeRel">
                <mat-option>-- Select --</mat-option>
                <mat-option *ngFor="let n of nomineeRealtionMaster" [value]="n.Code">
                    {{ n.Description }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="CD.insNomineeRel.invalid">Please select Nominee Relation</mat-error>
        </mat-form-field>
        <mat-form-field class="col4">
            <mat-label>Nominee Date Of Birth *</mat-label>
            <input matInput formControlName="insNomineeDate" [matDatepicker]="insNomineeDate" [max]="maximumDOB" />
            <mat-datepicker-toggle matSuffix [for]="insNomineeDate"></mat-datepicker-toggle>
            <mat-datepicker #insNomineeDate></mat-datepicker>
        </mat-form-field>
        <div *ngIf="CD.PASpouseMain.value">
            <span class="spouseDetails">Spouse Details:</span>
            <mat-form-field class="col4">
                <mat-label>Spouse Name *</mat-label>
                <input matInput formControlName="spouseName" type="text" />
                <mat-error *ngIf="CD.spouseName.invalid">Please enter insured name</mat-error>
            </mat-form-field>
            <mat-form-field class="col4">
                <mat-label>Date Of Birth *</mat-label>
                <input matInput formControlName="spouseDate" [matDatepicker]="spouseDate" [max]="maximumDOB" />
                <mat-datepicker-toggle matSuffix [for]="spouseDate"></mat-datepicker-toggle>
                <mat-datepicker #spouseDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col4">
                <mat-label>Gender *</mat-label>
                <mat-select formControlName="spouseGender">
                    <mat-option>-- Select --</mat-option>
                    <mat-option value="M">Male</mat-option>
                    <mat-option value="F">Female</mat-option>
                </mat-select>
                <mat-error *ngIf="CD.spouseGender.invalid">Please select Gender</mat-error>
            </mat-form-field>
            <mat-form-field class="col4">
                <mat-label>Occupation *</mat-label>
                <mat-select formControlName="spouseOccupation">
                    <mat-option>-- Select --</mat-option>
                    <mat-option *ngFor="let o of occupationMaster" [value]="o.Code">
                        {{ o.Description }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="CD.spouseOccupation.invalid">Please select Occupation</mat-error>
            </mat-form-field>
            <mat-form-field class="col4">
                <mat-label>Nominee Name *</mat-label>
                <input matInput formControlName="spouseNominee" type="text" />
                <mat-error *ngIf="CD.spouseNominee.invalid">Please enter Nominee name</mat-error>
            </mat-form-field>
            <mat-form-field class="col4">
                <mat-label>Nominee Relation</mat-label>
                <mat-select formControlName="spouseNomineeRel">
                    <mat-option>-- Select --</mat-option>
                    <mat-option *ngFor="let n of nomineeRealtionMaster" [value]="n.Code">
                        {{ n.Description }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="CD.spouseNomineeRel.invalid">Please select Nominee Relation</mat-error>
            </mat-form-field>
            <mat-form-field class="col4">
                <mat-label>Nominee Date Of Birth *</mat-label>
                <input matInput formControlName="spouseNomineeDate" [matDatepicker]="spouseNomineeDate"
                    [max]="maximumDOB" />
                <mat-datepicker-toggle matSuffix [for]="spouseNomineeDate"></mat-datepicker-toggle>
                <mat-datepicker #spouseNomineeDate></mat-datepicker>
            </mat-form-field>
        </div>
    </fieldset>

    <!-- for ckyc -->
    <fieldset class="shopAddress" [hidden]="addressFlag" [disabled]="disableckyc">
        <legend>Ckyc Verification</legend>

        <mat-form-field class="col4">
            <mat-label>Full Name *</mat-label>
            <input matInput formControlName="fullname" type="text" />
            <!-- <mat-error *ngIf="CD.fullname.invalid">Please enter full name</mat-error> -->
        </mat-form-field>

        <mat-form-field class="col4">
            <mat-label>Date Of Birth *</mat-label>
            <input matInput formControlName="dobDate" (dateChange)="getAge()" [matDatepicker]="dobDate"
                [max]="maximumDOB" placeholder="mm/dd/yyyy" />
            <mat-datepicker-toggle matSuffix [for]="dobDate"></mat-datepicker-toggle>
            <mat-datepicker #dobDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col4">
            <mat-label>Gender *</mat-label>
            <mat-select formControlName="gender">
                <mat-option>-- Select --</mat-option>
                <mat-option value="M">Male</mat-option>
                <mat-option value="F">Female</mat-option>
            </mat-select>
            <!-- <mat-error *ngIf="CD.gender.invalid">Please select Gender</mat-error> -->
        </mat-form-field>

        <!-- <mat-checkbox (change)="anyClaimCall($event)">Any Claim Reported in last 3 years</mat-checkbox> -->

        <mat-form-field class="col4">
            <mat-label>ID Type *</mat-label>
            <mat-select formControlName="idtype">
                <mat-option value="">-- Select --</mat-option>
                <mat-option value="CKYC">CKYC</mat-option>
                <mat-option value="Pan">Pan</mat-option>
                <mat-option value="AADHAAR">Aadhar</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col4">
            <mat-label>ID Number</mat-label>
            <input matInput formControlName="idnum" type="text" />
        </mat-form-field>

        <mat-form-field class="col4" *ngIf="ckycflag" readonly>
            <mat-label>Ckyc Number</mat-label>
            <input matInput formControlName="ckycno" type="text" />
        </mat-form-field>
        <mat-form-field class="col4" *ngIf="ckycref" readonly>
            <mat-label>Ckyc Ref.No</mat-label>
            <input matInput formControlName="proposal" type="text" />
        </mat-form-field>
        <button mat-raised-button color="warn" [style.display]="verfyilagf ? 'none' : 'inline-block'"
            (click)="verifyckyc()">
            Verify
        </button>
    </fieldset>
    <fieldset [hidden]="addressFlag">
        <legend>Annexure Details</legend>
        <form [formGroup]="annexureForm">
            <div formArrayName="detailSections">
                <div *ngFor="let a of getSections(annexureForm); let $index = index" class="annexureFormContainer">
                    <a href="javascript:void(0)" *ngIf="$index != 0" (click)="removeAnnexureForm($index)"
                        class="removeFile" title="Delete File">Remove (<i class="fa fa-remove"></i>)</a>
                    <div class="addItemWrap" [formGroupName]="$index">
                        <mat-form-field class="col5">
                            <mat-label>Cover Type*</mat-label>
                            <mat-select formControlName="aneCoverType">
                                <mat-option value="">-- Select Cover --</mat-option>
                                <mat-option *ngFor="let a of annexureWithValue" [value]="a.name">
                                    {{ a.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="col5">
                            <mat-label>Item Description</mat-label>
                            <input matInput formControlName="itemDesc" type="text" />
                        </mat-form-field>
                        <mat-form-field class="col5">
                            <mat-label>Make</mat-label>
                            <input matInput formControlName="make" type="text" />
                        </mat-form-field>
                        <mat-form-field class="col5">
                            <mat-label>Year of Mfg</mat-label>
                            <input matInput formControlName="YearofMFG" type="number" />
                        </mat-form-field>
                        <mat-form-field class="col5">
                            <mat-label>Sum Insured</mat-label>
                            <input matInput formControlName="sumins" type="number" (change)="compareSumIn($index)" />
                        </mat-form-field>
                        <div class="col1"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="hrefWrap">
            <a href="javascript:;" (click)="addAnnexureForm()">(<i class="fa fa-plus"></i>) Add More Annexure</a>
        </div>
    </fieldset>
    <fieldset [hidden]="addressFlag">
        <legend>Documents</legend>
        <div class="input-field width100">
            <div class="imgWrap">
                <p></p>
                <label>Proposal Form</label>
                <input type="file" id="myFile" (change)="onSelectedFile($event)" />
                <span><i class="fa fa-paperclip" aria-hidden="true"></i>Choose a
                    File..</span>
            </div>
        </div>
        <div class="input-field width100">
            <div class="imgWrap">
                <p></p>
                <label>Other Form</label>
                <input type="file" id="myFile1" (change)="onSelectedFile($event)" />
                <span><i class="fa fa-paperclip" aria-hidden="true"></i>Choose a
                    File..</span>
            </div>
        </div>
        <mat-label>If you want a Booklet print of the Policy, please click on Yes option :-
        </mat-label>
        <mat-radio-group class="col3 radio-btn" aria-label="Select an option" formControlName="printFlag">
            <mat-radio-button value="Y">Yes</mat-radio-button>
            <mat-radio-button value="N" [checked]="true">No</mat-radio-button>
        </mat-radio-group><br />
    </fieldset>
    <fieldset *ngIf="showQuote">
        <legend>Premium Summary & Payment</legend>
        <div class="premiumWrap">
            <p>
                Net Premium : <b> <i class="fa fa-rupee"></i>{{ netPremium }}</b>
            </p>
            <!-- <p>Discount/Loading : <b> <i class="fa fa-rupee"></i>{{discountLoad}}</b></p> -->
            <p>
                GST ( 18% ) : <b> <i class="fa fa-rupee"></i>{{ gst }}</b>
            </p>
            <p>
                Total Premium : <b> <i class="fa fa-rupee"></i>{{ totalPre }}</b>
            </p>
        </div>
        <div class="paymentMethod" *ngIf="saveAndPayment || paymentOptReq">
            <div class="col1">
                <mat-label>Payment Method *</mat-label>
                <mat-radio-group class="col3 radio-btn" aria-label="Select an option" formControlName="paymentMethod"
                    (change)="selectPayMethod(CD.paymentMethod.value)">
                    <mat-radio-button value="S">Saving Account</mat-radio-button>
                    <mat-radio-button value="B">Bank Reference ID</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col1 marginT10">
                <mat-form-field class="col4" *ngIf="CD.paymentMethod.value == 'S'">
                    <mat-label>Saving/Current Account No. *</mat-label>
                    <input matInput formControlName="customerAcNo" numbersOnly />
                </mat-form-field>
                <mat-form-field class="col4" *ngIf="CD.paymentMethod.value == 'B'">
                    <mat-label>Bank Reference No. *</mat-label>
                    <input matInput type="text" formControlName="bankRefNo"
                        (change)="getReceiptDeatils(CD.bankRefNo.value)" />
                    <a href="javascript:;" (click)="getReceiptDeatils(CD.bankRefNo.value)" class="search"><i
                            class="fa fa-search"></i></a>
                </mat-form-field>
            </div>
        </div>
        <div class="btnWrap" *ngIf="currentStatus != 'C'">
            <button mat-raised-button color="warn" (click)="modify()" *ngIf="!checkCalc && !makePaymentFlag">
                Modify
            </button>
            <button mat-raised-button color="warn" (click)="updateQuote()" *ngIf="updateQuoteFlag">
                Update Quote
            </button>
            <button mat-raised-button color="warn" (click)="quote()" *ngIf="issueQuoteFlag">
                Issue Quote
            </button>
            <button mat-raised-button color="warn" (click)="saveQuoteDetails()" *ngIf="saveQuoteDetailsFlag">
                Save
            </button>
            <button mat-raised-button color="warn" (click)="saveQuoteDetails()" *ngIf="saveAndPayment">
                Save & Payment
            </button>
            <button mat-raised-button color="warn" (click)="payment()" *ngIf="makePaymentFlag">
                Make Payment
            </button>
        </div>
    </fieldset>
</form>
<div *ngIf="ridrectToPay">
    <div class="redirectMsg" *ngIf="showRedirectMsg">
        <p>Your payment request is being processed....</p>
        <p>Please Don't Refresh..</p>
    </div>
    <div class="suscessRes" *ngIf="!showRedirectMsg">
        <p>Payment is successful</p>
        <p>
            Quote No - <b>{{ quoteNo }}</b>
        </p>
        <p>
            Customer Name - <b>{{ customerName }}</b>
        </p>
        <p>
            Customer ID - <b>{{ bankCustID }}</b>
        </p>
        <p>
            Customer Ac No - <b>{{ AcNo }}</b>
        </p>
        <p>
            FG Transaction ID - <b>{{ trnID }}</b>
        </p>
        <p *ngIf="policyNo">
            {{ policyText }}<b>{{ policyNo }}</b>&nbsp;&nbsp;<a rel="noopener noreferrer"
                (click)="policyDownload(policyNo)">Download</a>
        </p>
    </div>
</div>
<div class="overlay" [ngClass]="{ active: showReceipt }"></div>
<div class="receiptPopup" [ngClass]="{ active: showReceipt }">
    <a href="javascript:;" (click)="closePop()" class="close">x</a>
    <table>
        <tr>
            <th></th>
            <th>Receipt No.</th>
            <th>Amount</th>
        </tr>
        <tr *ngFor="let r of receiptList; let $index = index">
            <td><input type="checkbox" (change)="selectReceipt(r, $event)" /></td>
            <td>{{ r.receiptno }}</td>
            <td>{{ r.balanceamt }}</td>
        </tr>
        <tr>
            <td colspan="3">
                <span>Amount : <b>{{ totalRA }}</b></span>
            </td>
        </tr>
    </table>
    <p class="error" *ngIf="checkReceiptAmt">
        Receipt amt cann't less then total premium amt.
    </p>
    <a href="javascript:;" class="continue" (click)="bookWithReceiptNo()">Continue</a>
</div>
<ngx-loading [show]="loading"></ngx-loading>
