<app-header></app-header>

<div class="container chnage-pin-container">
  <form class="chnage-pin-form" [formGroup]="chgPasswordFrm" (ngSubmit)="chgPassword($event)">
    <h2>Chnage Password</h2>
    <hr color="#ccc" />
    <div class="form-group">
      <mat-form-field class="col3 readonly">
        <mat-label>User Id</mat-label>
        <input matInput placeholder="Ex. 894458" formControlName="userId" readonly>
      </mat-form-field>
      <mat-form-field class="col3 show-hide-password">
        <mat-label>Old Pasword</mat-label>
        <input [type]="hidePassword ? 'password' : 'text'" matInput name="pin" formControlName="oldPassword">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-icon>
      </mat-form-field>
      <mat-form-field class="col3 show-hide-password">
        <mat-label>New Password</mat-label>
        <input [type]="hideNewPassword ? 'password' : 'text'" matInput name="pin" formControlName="newPassword">
        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideNewPassword">
          <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-icon>
      </mat-form-field>
    </div>
    <span class="err-span">
      {{errMsg}}
    </span>
    <div class="form-group">
      <div class="example-button-row">
        <button mat-flat-button class="btn color-aqua" type="submit" [disabled]="!chgPasswordFrm.valid">Submit</button>
      </div>
    </div>
  </form>
</div>
<div class="cover coveranimation"></div>
<ngx-loading [show]="loading"></ngx-loading>